* {
    box-sizing: border-box;
    margin: 0;
}
.table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#page-title {
    text-align: center;
}

#sub-title{
    text-align: center;
}
